
/* toubu */
.head>img{
    height:400px;
    width: 100%;
    margin-top: -20px;
}
.headLink{
    width:870px;
    margin: 0 auto;
    clear: both;
   
}
.headLink>div{
    overflow:hidden;
    position: relative;;
    top:5px;
}
.headLink>div>:nth-child(1){
    float: left;
}
.headLink>div>:nth-child(2){
    float: right;
}
.headLink>div>:nth-child(2)>:nth-child(1){
    margin-right: 15px;
}
.headLink>div>:nth-child(2)>:nth-child(2){
    margin-right: 15px;
    text-decoration: none;
}
.user-content{
	font-size: 12px; 
	color: #009BD9;
}

/* content */
.contentNav{
    height: 50px;
    width:100%;
    background-color:#8823a0;
}
.contentNav>.tab{
    width:870px;
    margin: 0 auto;
    height: 50px;
}
.tab>li{
    padding: 0;
}
.tab>li>a {
    position: relative;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width:120px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.tab>.active>a, .tab>.active>a:focus, .tab>.active>a:hover {
    color: #fff;
    background-color: #a441a2;
    border: 0;
} 
.tab-content{
    width:870px;
    margin: 0 auto;
}
.carousel-inner{
    height: 500px;
}
.carousel-indicators{
    position: absolute;
    bottom:60px;
}
.carousel-indicators>li{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #cdcdcd;
    border: 0px;
}
.carousel-indicators .active{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #8823a0;
    border: 0px;   
    margin-bottom: 1px;
}

