html{
    font-size: 16px;
}
body {
    margin:0;
    padding: 0;
    font-family: Microsoft YaHei; 
    background: url(../images/body_bg.png);
    background-size: contain;
    position: relative;
    outline: none;
}
.row{
    margin:0;
    padding: 0;
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    padding:0;
}


/*顶部图片*/

.headLink{
    position: relative;
    width:1200px;
    margin: 0 auto;
}
.headLink>div{ 
    width:1200px;
    position: fixed;
    top:5px;
}
.headLink>div>:nth-child(1){
    float: left;

}
.headLink>div>:nth-child(2){
    float: right;
}
.headLink>div>:nth-child(2)>:nth-child(1){
    margin-right: 15px;
}
.headLink>div>:nth-child(2)>:nth-child(2){
    margin-right: 15px;
    text-decoration: none;
}
.user-content{
    font-size: 12px; 
    color: #009BD9;
}

/*段落*/
.log-in-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.325rem;
    padding: 0 0 2.25rem 3.25rem;
    color: #6d1c7e;
    overflow: hidden;
}

.log-in-container-left,
.log-in-container-right{
    float: left;
}
.log-in-container-left{
    width: 40%;
    margin-top: 5rem;
}
.log-in-container-right{
    width: 60%;
}
.log-in-container-right > img{
    float: right;
    width: 90%;
}




.log-in-paragraphy{
    position: relative;
    background-color: #fef7fc;
    border-radius: 0.125rem;
    padding: 1.25rem 3.125rem 0.9375rem 5rem;
}
.log-in-paragraphy > p{
    font-size: 0.875rem;
}
.log-in-paragraphy > p:first-child{
    margin-bottom: 0.25rem;
}
.log-in-paragraphy > p:nth-child(2){
    text-indent: 2rem;
    line-height: 1.5rem;
}
.log-in-paragraphy > p:nth-child(3){
    text-align: right;
}







 
/*底部版权*/
.buttom-img{
    position: absolute;
    bottom: 9rem;
    width: 100%;
}
.copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9rem;
    background-color: #6d1c7e;
    display: block;
    padding-top: 3rem;
}
.copyright-text{
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
}
.copyright p{
    display: block;
    text-align: center;
    font-size: 0.875rem;
    color: #bbb;
    padding-bottom: 0.75rem;
    text-transform: uppercase;
}
.copyright p:nth-child(2){
    font-size: 0.75rem;
}
.log-in-question8{
    position: relative;
    z-index: 4;
}
.log-in-btn-group{
    position: relative;
    z-index: 4;
}


/* 
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		Launch demo modal
	  </button>
	  
	  <!-- Modal -->
	  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
			  ...
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-primary">Save changes</button>
			</div>
		  </div>
		</div>
	  </div> */


/* .modal-header >button{

}
.modal-header > button > span{
    content: "";
    position: relative;
    top: -50px;

    border-radius: 15px;
    color: #fff;
    border: 2px solid #fff;
    opacity: 1;


}
.modal-header > button > span::before{
    content: "";
    
    position: relative;
    top: -50px;
    height: 12px;
    width: 3px;
    color: #fff;
    border: 2px solid #fff;
    opacity: 1;

} */


        



        @media (max-width: 1025px){ 
            html{
                font-size: 16px;
            }
            .head>img{
                width: 100%;
            }
            .headLink{
                position: relative;
                width:100%;
            }
            .headLink>div{ 
                width :100%;    
                position: fixed;
                top:5px;
            }
            .headLink>div>:nth-child(1){
                float: left;
                width:25%;
                margin-left: 14px;
            }
            .headLink>div>:nth-child(2){
                float: right;
                width:200px;
                text-align: end;
            }
            .headLink>div>:nth-child(2)>:nth-child(1){
                margin-right: 14px;
            }
            .headLink>div>:nth-child(2)>:nth-child(2){
                margin-right:14px;
                text-decoration: none;
            }
            .user-content{
                font-size: 0.75em; 
                color: #009BD9;
            }
            /* .headLink{
                max-width: 40rem;
            }
            .headLink > div{ 
                width: 40rem;
            }
            .headLink > div> a > img{
                height: 1.438rem;
            }
            .headLink > div> a:last-child > img{
                margin-right: 1.438rem;
            } */
            .log-in-head{
                max-width: 40rem;
            }
            .log-in-head > img{
                width: 70%;
            }
            .log-in-paragraphy ~ div{
                margin: 2rem;
            }
            .log-in-paragraphy{
                padding: 1.25rem 2rem 0.9375rem 2rem;
            }
            .log-in-paragraphy > img{
                position: absolute;
                top: -2rem;
                left: -1rem;
                height: 30%;
            }
            .log-in-container{
                max-width: 1200px;
            }
            .log-in-radio-form{
                margin-left: 0;
            }
            .log-in-radio-form > .radio{
                margin-right: 4rem;
            }
            .log-in-radio-form > .radio > label > input{
                margin-right: 0.6rem;
            }
            .checkbox-custom > #cb1_8 ~ p,
            .checkbox-custom > #cb2_5 ~ p,
            .checkbox-custom > #cb3_14 ~ p{
                top: 1.2rem;
            }
            .copyright-text{
                max-width: 50rem;
            }
            
        }

        /* @media (max-width: 767px) { 
            html{
                font-size: 12px;
                overflow-x: hidden;
            }
            .head > img{
                width: 150%;
                position: relative;
                left: -25%;
                z-index: -1;
            }
            .headLink{
                max-width: 28rem;
            }
            .headLink i{
                display: none;
            }
            .headLink > div{ 
                width: 28rem;
                top: 0.625rem;
            }
            .headLink > div> a > img{
                height: 1.5rem;
            }
            .log-in-head{
                max-width: 30rem;
                padding: 0;
                padding-bottom: 0.1rem;
            }
            .log-in-head > img{
                width: 70%;
                position: relative;
                top: 0.3rem;
            }
            .log-in-head p{
                top: 2.4rem;
            }
            .log-in-container{
                max-width: 30rem;
                padding: 1.125rem 1.063rem 1.063rem 1.063rem;
            }
            .log-in-paragraphy{
                padding: 1.125rem 1.063rem 1.063rem 1.063rem;
            }
            .log-in-paragraphy > img{
                position: absolute;
                top: -1.75rem;
                left: -0.875rem;
                height: 22%;
            }
            .log-in-paragraphy ~ div,{
                margin: 1.5rem 0;
            }
            .reservation-seccess-paragraphy ~ div{
                margin: 1.5rem 0 0 0;
            }
            .log-in-paragraphy ~ div:last-child{
                margin-bottom: 13rem;
            }
            .checkbox-custom > #cb1_8 ~ p,
            .checkbox-custom > #cb2_5 ~ p,
            .checkbox-custom > #cb3_14 ~ p{
                top: 1.375rem;
            }
            .btn-gray, .btn-orange{
                width: 9rem;
                height: 2rem;
            }
            .btn{
                padding: 0;
            }
            .copyright{
                padding-top: 2rem;
            }
            .copyright p{
                padding-bottom: 0;
            }
            .copyright-text{
                max-width: 30rem;
            }


            .reservation-seccess-img > img{
                top: 4rem;
                height: 6rem;
            }
        } */
        

        